.container-m {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.container{
  width: 25%;
}

.card {

  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  width: 250px;
  padding: 20px;
  margin: 10px;
}

.foodpic {
  width: 200px;
}

a{color: silver}
a:visited{color: silver}
a:hover{color: blue}
a:active{color: greenyellow}